.backdrop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.5;
    z-index: 888;
}

.modal {
    width: 800px;
    height: 200px;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 400px);
    border-radius: 10px;
    background-color: #4834d4;
    z-index: 999;
}

.modal form {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    position: relative;
}

.input {
    width: 420px;
    height: 30px;
    border: none;
    color: #4834d4;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #dff9fb;
}

.input::placeholder {
    color: #4834d4;
    opacity: 0.5;
}

.error {
    color: #dff9fb;
    font-size: 13px;
}

.submit {
    width: 180px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: #211861;
    cursor: pointer;
    border-radius: 7px;
    justify-self: center;
    background-color: #897de3;
}

.submit:disabled {
    opacity: 0.5;
}

.closeButton {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #dff9fb;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeButton svg {
    width: 50%;
    height: 50%;    
}

.closeButton svg path {
    fill: #4834d4
}
