.container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 140px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background-color: #4834d4;
}

.input {
    width: 420px;
    height: 30px;
    border: none;
    color: #4834d4;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #dff9fb;
}

.input::placeholder {
    color: #4834d4;
    opacity: 0.5;
}

.error {
    color: #dff9fb;
    font-size: 13px;
}

.submit {
    width: 180px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: #211861;
    cursor: pointer;
    border-radius: 7px;
    justify-self: center;
    background-color: #897de3;
}

.submit:disabled {
    opacity: 0.5;
}
